@import "tailwindcss";

@layer base {
  body {
  background: rgb(15, 19, 26);
  color: rgb(255, 255, 255);
  background: url(../images/bg.JPG);
  font-family: "Roboto Mono", monospace;
  line-height: 1.4;
  padding: 3.2rem 2.4rem;
}
}
